[License] < "idol.common.cfg" [License]

[Service]
ServicePort=9022
Access-Control-Allow-Origin=*
XSLTemplates=FALSE

[Server]
Port=9020

Threads=4
MaxInputString=64000
XSLTemplates=FALSE
LogRequestTiming=TRUE
maxfileuploadsize=50000000

timeout=180
defaultlanguage=english
MinTermOccurrences=3
ScheduleThreads=2
//Uncomment the below if using TextParse or AgentBoolean in CategorySuggestFrom* actions
//DocumentDelimiterCSVs=*/DOCUMENT
//Uncomment the below to deactivate schedules, or replace "all" with a CSV of the schedules you want to deactivate (e.g. 0,1,2)
//InactiveSchedules=all

//--------------------------- Authorization Roles ----------------------------//
[AuthorizationRoles]
0=AdminRole
1=QueryRole

[AdminRole] < "idol.common.cfg" [AdminRole]

[QueryRole] < "idol.common.cfg" [QueryRole]
//----------------------------------------------------------------------------//

[DataDre]
host=localhost
aciport=9100
// Default is 10 attempts
DREStartupRetries=360
// Default is 5 seconds
DREStartupTimeout=10

[CatDRE]
host=localhost
aciport=9050
# default is 10 attempts
DREStartupRetries=360
# default is 5 seconds
DREStartupTimeout=10

[CommunityServer]
Host=localhost
Port=9030


//--------------------------- Paths -------------------------------------------//
[Paths]
ClusterDirectory=./cluster
TaxonomyDirectory=./taxonomy
CategoryDirectory=./category
ImExDirectory=./imex

//--------------------------- Classification ----------------------//

[Cluster]
ResultExpiryDays=30
SnapshotExpiryDays=30
SGExpiryDays=30
TitleFromSummary=TRUE
SummaryField=autn:summary

[Taxonomy]
MaxConcepts=100
RelevanceThreshold=20
DistributionThreshold=10
ConceptThreshold=400
MinConceptOccs=15
CompoundRelevance=40
SiblingStrength=20
MinChildren=1
OnlyMatchSubset=0
MaxQNum=5000
DownloadDocAction=drecontents

[AnalysisSchedules]
Number=5

[AnalysisSchedule0]
ScheduleStartTime=23:00
ScheduleInterval=1 day
ScheduleCycles=-1
ScheduleAction=CLUSTERSNAPSHOT
TargetJobname=myjob

[AnalysisSchedule1]
ScheduleStartTime=23:15
ScheduleInterval=1 day
ScheduleCycles=-1
ScheduleAction=CLUSTERCLUSTER
SourceJobName=myjob
TargetJobName=myjob_clusters
DoMapping=TRUE
// Scheduled snapshot job must complete before we can do ClusterCluster
ScheduleDependencies=0

[AnalysisSchedule2]
ScheduleStartTime=23:15
ScheduleInterval=1 day
ScheduleCycles=-1
ScheduleAction=CLUSTERCLUSTER
SourceJobName=myjob
TargetJobName=myjob_clusters_new
WhatsNew=TRUE
Interval=86400
// Scheduled snapshot job must complete before we can do ClusterCluster
ScheduleDependencies=0

[AnalysisSchedule3]
ScheduleStartTime=23:15
ScheduleInterval=1 day
ScheduleCycles=-1
ScheduleAction=CLUSTERSGDATAGEN
Interval=604800
SourceJobName=myjob
TargetJobName=myjob_sg
// Scheduled snapshot job must complete before we can do ClusterSGDataGen
ScheduleDependencies=0

[AnalysisSchedule4]
ScheduleStartTime=23:30
ScheduleInterval=1 day
ScheduleCycles=-1
ScheduleAction=TAXONOMYGENERATE
Cluster=0,1,2,3,4,5,6,7,8,9
SourceJobName=myjob_clusters
NumResults=25
// Scheduled cluster extraction job must complete before we can do TaxonomyGenerate using clusters
ScheduleDependencies=1

//---------------------------Logging-------------------------------//
[Logging] < "idol.common.cfg" [Logging]

// Log streams
0=ApplicationLogStream
1=CategoryLogStream
2=ClusterLogStream
3=TaxonomyLogStream
4=ScheduleLogStream

[ApplicationLogStream] < "idol.common.cfg" [ApplicationLogStream]

[CategoryLogStream] < "idol.common.cfg" [CategoryLogStream]

[ClusterLogStream] < "idol.common.cfg" [ClusterLogStream]

[TaxonomyLogStream] < "idol.common.cfg" [TaxonomyLogStream]

[ScheduleLogStream] < "idol.common.cfg" [ScheduleLogStream]

//--------------------------- Language Types ---------------------------------//
[LanguageTypes]
DefaultLanguageType=englishUTF8
LanguageDirectory=./langfiles
